.post {
  text-align: left;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 7fr 1fr;
}

.message {
  padding: 2px; 
}

.like {
  text-align: right;
  grid-area: like;
  margin-right: 15px;
}

.text {
  text-align: center
}