.navigation {
  text-align: center;
  grid-area: navigation;
  background-color: #9a3232;
  padding: 10px;
  border: solid;
}

.item {
  color: whitesmoke;
  text-decoration: none
}

.active {
  color:black;
}

.navigation button {
  border: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: black;
  background-color: grey;
  padding: 5px 8px;
  margin: 3px;
  font-size: 13px;
  width: 7em;
  transition-duration: 0.15s;
  height: 2.3em;
  font-weight: 100;
}

.navigation button:hover {
  background-color: white;
  transform: scale(1.05);
}

.navigation button:hover .item {
  color: black;
}
