.main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: left;
    padding: 10px;
    background-color: coral;
}

.active {
    color: gold;
}

.person {
    color: black;
}

.message {
    border: 0.5px solid;
    border-radius: 5px;
    margin: 1px;
    padding: 3px;
}

.messagefield {
    background-color: rgb(255, 173, 80);
    padding: 5px;
    border-radius: 4px;
}

.namefield {
    background-color: rgb(188, 255, 80);
    border-radius: 4px;
    padding: 5px;
}

.partner_message {
    text-align: left;
}

.author_message {
    text-align: right;
}