ul li {
  list-style-type: georgian;
}

.app_wrapper {
  margin: 0 auto;
  max-width: 800px;
  width: 1fr;
  display: grid;
  grid-template-rows: 70px 120px 1fr;
  grid-template-columns: 1fr 20fr;
  grid-gap: 10px;
  grid-template-areas:
    "header header"
    "navigation profile"
    "navigation content"
}

.app_content {
  text-align: center;
  background-color: rgba(221, 225, 0, 0.534);
  grid-area: content;

}

.app_background {
  margin-top: 70px;
  padding: 2em;
  background-color: rgb(128, 128, 128);
}