.programNavigation {
    border: 4px #000000;
    padding: 3px;
    margin-bottom: 5px;
}


.programmField {}

.palindrome {
    border: 2px dotted #000000;
    padding: 3px;
    margin-bottom: 5px;
    border-radius: 13px;
}

.main {
    border: solid
}

.link {
    text-decoration: none;
    color: black;
}

.triangleLink {
    text-decoration: none;
    color: black;
}


